<button class="hamburger hamburger--slider js-sidebar-toggle" type="button">
    <span class="hamburger-box">
        <span class="hamburger-inner"></span>
    </span>
</button>
<aside class="l-admin__sidebar sidebar js-sidebar">
    <div class="menu">
        <div class="menu__header">
            M-header
        </div>
        <div class="menu__content">
            <p class="menu-label">
                General
            </p>
            <ul class="menu-list">
                <li><a>Dashboard</a></li>
                <li><a>Customers</a></li>
            </ul>
            <p class="menu-label">
                Administration
            </p>
            <ul class="menu-list">
                <li><a>Team Settings</a></li>
                <li><a class="is-active">Manage Your Team</a></li>
                <li><a>Invitations</a></li>
                <li><a>Cloud Storage Environment Settings</a></li>
                <li><a>Authentication</a></li>
            </ul>
            <p class="menu-label">
                Transactions
            </p>
            <ul class="menu-list">
                <li><a>Payments</a></li>
                <li><a>Transfers</a></li>
                <li><a>Balance</a></li>
            </ul>
        </div>
        <div class="menu__footer">
            M-footer
        </div>
    </div>
</aside>