.header {
  position: sticky;
  top: 0;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem 0 4.5rem;
  background-color: $background--light;

  @include desktop() {
    padding: 0 1.5rem;
  }
}