$sidebar-background: $background--dark;
$sidebar-width: 250px;
$gradient-top-left: darken(saturate(adjust-hue($sidebar-background, -10deg), 10%), 10%);
$gradient-bottom-right: lighten(saturate(adjust-hue($sidebar-background, 10deg), 5%), 5%);

.sidebar {
  background-color: $sidebar-background;
  background-image: linear-gradient(180deg, $background-dark-gradient-top 0%, $sidebar-background 50%, $background-dark-gradient-bottom 100%);
  height: 100vh;
  width: $sidebar-width;
  -webkit-overflow-scrolling: touch;
  transform: translateX(-$sidebar-width);
  transition: transform 0.2s;
  position: fixed;
  left: 0;
  top: 0;

  &.is-open {
    left: 0;
    transform: translateX(0);
    z-index: 1001;
    box-shadow: 0 0 40px rgba(0,0,0,0.25);
  }

  @include desktop {
    position: relative;
    transform: translateX(0);
  }
}

/*


  @include transition(transform .2s);



  @include media-breakpoint-up(md) {
    position: relative;
    height: auto;
    background: inherit;
    transform: translateX(0);
    width: 100%;
  }
 */